; ----------------------------------------------------------------------------
; candle2017.service
; ----------------------------------------------------------------------------
; Integrating with operating system startup/shutdown
; --------------------------------------------------
; - Copy this file and candle2017-cleanup.service to /etc/systemd/system:
;   $ sudo cp candle*.service /etc/systemd/system
; - Edit them, adjusting the {...} place holders in the [Service] sections.
; - Test it manually with:
;   $ sudo systemctl daemon-reload
;   $ sudo systemctl start candle2017
;   $ sudo systemctl stop candle2017
; - Enable it with:
;   $ sudo systemctl enable candle2017
; - Reboot your system to confirm.
; ----------------------------------------------------------------------------


[Unit]

Description=Candle 2017
Wants=network.target
OnFailure=candle2017-cleanup.service



[Service]

; Placeholder description
; -----------------------
; - {USERNAME_OR_ID}
;   The user that candle2017.py will run as.
;   Use the same that created the virtual environment.
;   Use the user ID number if the username contains ".".
; - {USER_HOME}
;   The absolute path to the user's HOME directory.
; - {VENV_PYTHON3_ABSPATH}
;   The absolute path to python3 in the created virtual environment.
; - {candle2017.py_ABSPATH}
;   The absolute path to candle2017.py.

Type=simple
User={USERNAME_OR_ID}
WorkingDirectory={USER_HOME}
ExecStart={VENV_PYTHON3_ABSPATH} {candle2017.py_ABSPATH}
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=10
Restart=always
RestartSec=10



[Install]

WantedBy=multi-user.target


; ----------------------------------------------------------------------------
; candle2017.service
; ----------------------------------------------------------------------------

